body {
  background: gray;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-weight: bold;
}

.container {
  height: 100vh;
  background: white;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

@media (min-width: 600px) {
  .container {
    padding: 3rem;
  }
}
